---
apiVersion: v1
kind: ConfigMap
metadata:
  name: wordpress-capstone-env
  namespace: wordpress-capstone
data:
  WORDPRESS_DB_HOST: "wordpress-capstone-db.wordpress-capstone.svc.cluster.local"
  WORDPRESS_DB_NAME: "wordpress_capstone"
  WORDPRESS_DB_USER: "wordpress"
  WORDPRESS_TABLE_PREFIX: "wp_"
  WORDPRESS_CONFIG_EXTRA: |
    define('WP_HOME', 'https://wordpress-test.collazoirizarry.xyz');
    define('WP_SITEURL', 'https://wordpress-test.collazoirizarry.xyz');
    if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
        $_SERVER['HTTPS'] = 'on';
    }
