ipam:
  mode: kubernetes
kubeProxyReplacement: true
k8sServiceHost: localhost
k8sServicePort: 6443
gatewayAPI:
  enabled: true
  enableAlpn: true
  enableAppProtocol: true
  hostNetwork:
    enabled: true
  gatewayClass:
    create: true
envoy:
  securityContext:
    capabilities:
      keepCapNetBindService: true
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
operator:
  replicas: 1
hubble:
  relay:
    enabled: true
