kubeProxyReplacement: true
k8sServiceHost: localhost
k8sServicePort: 6443
l2announcements:
  enabled: true
gatewayAPI:
  enabled: true
  hostNetwork:
    enabled: true
  gatewayClass:
    create: 'true'
envoy:
  enabled: true
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy: "{NET_ADMIN,SYS_ADMIN,NET_BIND_SERVICE}"
hubble:
  relay:
    enabled: true
