kubeProxyReplacement: true
k8sServiceHost: localhost
k8sServicePort: 6443
gatewayAPI:
  enabled: true
  hostNetwork:
    enabled: true
  gatewayClass:
    create: 'true'
envoy:
  enabled: true
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy: "{NET_ADMIN,SYS_ADMIN,NET_BIND_SERVICE}"
operator:
  replicas: 1
hubble:
  relay:
    enabled: true
