kubeProxyReplacement: true
k8sServiceHost: localhost
k8sServicePort: 6443
l2announcements:
  enabled: true
gatewayAPI:
  enabled: true
  enableAlpn: true
  enableAppProtocol: true
  gatewayClass:
    create: 'true'
hubble:
  relay:
    enabled: true
