kubeProxyReplacement: true
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
k8sServiceHost: localhost
k8sServicePort: 6443
gatewayAPI:
  enabled: true
  gatewayClass:
    create: "true"
  hostNetwork:
    enabled: true
envoy:
  securityContext:
    capabilities:
      keepCapNetBindService: true
operators:
  replicas: 1
hubble:
  relay:
    enabled: true
